---
# Copy this file to aap_secrets.yml and populate with correct values

# AAP Config
aap_hostname: https://changeme.example.com
aap_username: CHANGEME
aap_password: "{{lookup( 'ansible.builtin.env' , 'AAP_PASSWORD' }}"
aap_validate_certs=false

# ServiceNow Config
sn_base_url: https://changeme.example.com
sn_password: CHANGEME
sn_username: CHANGEME